
.fadeTr-enter-active {
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.fadeTr-leave-active {
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}
.fadeTr-enter, .fadeTr-leave-to {
  opacity: 0;
}
.slide-enter-active,
.slide-leave-active {
  -webkit-transition: all 1s;
  transition: all 1s;
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
.dg-backdrop-enter-active {
  -webkit-animation: dg-fadeIn .3s;
          animation: dg-fadeIn .3s;
}
.dg-backdrop-leave-active {
  -webkit-animation: dg-fadeOut .5s;
          animation: dg-fadeOut .5s;
}
.dg-fade-enter-active {
  -webkit-animation: dg-fadeIn 0.6s cubic-bezier(0, 0, 0.58, 1);
          animation: dg-fadeIn 0.6s cubic-bezier(0, 0, 0.58, 1);
}
.dg-fade-leave-active {
  -webkit-animation: dg-fadeOut 0.6s cubic-bezier(0, 0, 0.58, 1);
          animation: dg-fadeOut 0.6s cubic-bezier(0, 0, 0.58, 1);
}
@-webkit-keyframes dg-fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes dg-fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@-webkit-keyframes dg-fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
@keyframes dg-fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
.dg-zoom-enter-active {
  -webkit-animation: dg-zoomIn 0.3s cubic-bezier(0, 0, 0.58, 1);
          animation: dg-zoomIn 0.3s cubic-bezier(0, 0, 0.58, 1);
}
.dg-zoom-leave-active {
  -webkit-animation: dg-zoomOut 0.4s cubic-bezier(0, 0, 0.58, 1);
          animation: dg-zoomOut 0.4s cubic-bezier(0, 0, 0.58, 1);
}
@-webkit-keyframes dg-zoomIn {
0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
}
50% {
    opacity: 1;
}
}
@keyframes dg-zoomIn {
0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
}
50% {
    opacity: 1;
}
}
@-webkit-keyframes dg-zoomOut {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
}
100% {
    opacity: 0;
}
}
@keyframes dg-zoomOut {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
}
100% {
    opacity: 0;
}
}
.dg-bounce-enter-active {
  -webkit-animation: dg-bounceIn .6s;
          animation: dg-bounceIn .6s;
}
.dg-bounce-leave-active {
  -webkit-animation: dg-zoomOut .6s;
          animation: dg-zoomOut .6s;
}
@-webkit-keyframes dg-bounceIn {
0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
}
40% {
    opacity: 1;
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
}
60% {
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
@keyframes dg-bounceIn {
0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
}
40% {
    opacity: 1;
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
}
60% {
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
@-webkit-keyframes dg-bounceOut {
0% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}
50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
}
}
@keyframes dg-bounceOut {
0% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}
50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
}
}
.dg-btn-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
}
.dg-btn-loader .dg-circles {
    width: 100%;
    display: block;
    text-align: center;
}
.dg-btn-loader .dg-circle {
    width: .9em;
    height: .9em;
    opacity: 0;
    background-color: #09a2e3;
    display: inline-block;
    border-radius: 50%;
    -webkit-animation-name: dg-circle-oscillation;
            animation-name: dg-circle-oscillation;
    -webkit-animation-duration: 0.5875s;
            animation-duration: 0.5875s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
}
.dg-btn-loader .dg-circle:not(:last-child) {
      margin-right: 8px;
}
.dg-btn-loader .dg-circle:nth-child(1) {
      -webkit-animation-delay: 0.1195s;
              animation-delay: 0.1195s;
}
.dg-btn-loader .dg-circle:nth-child(2) {
      -webkit-animation-delay: 0.2755s;
              animation-delay: 0.2755s;
}
.dg-btn-loader .dg-circle:nth-child(3) {
      -webkit-animation-delay: 0.3485s;
              animation-delay: 0.3485s;
}
@-webkit-keyframes dg-circle-oscillation {
0% {
}
50% {
    opacity: 1;
}
100% {
}
}
@keyframes dg-circle-oscillation {
0% {
}
50% {
    opacity: 1;
}
100% {
}
}
body.dg-open {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dg-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.dg-container [disabled] {
  cursor: not-allowed;
  opacity: .3;
}
.dg-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}
.dg-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
}
.dg-content-cont {
  width: 100%;
  font-family: inherit;
}
.dg-main-content {
  width: 98%;
  /*width: calc(98% - 30px);*/
  max-width: 400px;
  padding: 15px;
  border-radius: 5px;
  margin: 25px auto;
  background-color: #ffffff;
}
.dg-content {
  font-size: 16px;
  line-height: 1.3em;
}
.dg-title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
}
.dg-content-body {
  border-bottom: 2px solid #E1E6EA;
  padding-bottom: 15px;
}
.dg-content-footer {
  position: relative;
  padding: 15px 0 0;
}
.dg-form {
  background-color: ghostwhite;
  padding: 10px;
  margin-bottom: -15px;
}
.dg-content-cont--floating {
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  margin-top: 0;
}
@media all and (max-height: 700px) {
.dg-content-cont--floating {
    position: relative;
    top: 10%;
    -webkit-transform: none;
            transform: none;
    margin-top: 0;
}
}
.dg-btn {
  display: inline-block;
  position: relative;
  min-width: 80px;
  padding: 6px 20px;
  border-radius: 4px;
  outline: 0;
  border: 2px solid transparent;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: 700;
}
.dg-btn:focus,
.dg-btn:active,
.dg-btn:link {
  outline: none;
}
.dg-btn::-moz-focus-inner {
  border: 0;
}
.dg-btn--cancel {
  color: #fefefe;
  background-color: #0096D9;
}
.dg-btn--ok {
  color: #0096D9;
  background-color: #fefefe;
  border-color: #0096D9;
}
.dg-pull-right {
  float: right;
}
.dg-btn.dg-btn--loading .dg-btn-content {
  visibility: hidden;
}
.dg-clear:before {
  content: ' ';
  display: block;
  clear: both;
}
.dg-content-body--has-title .dg-content {
  font-size: 14px;
}
.dg-container--has-input .dg-main-content {
  max-width: 450px;
}
.dg-container--has-input .dg-content {
  margin-bottom: 15px;
}
.dg-container--has-input .dg-content-body {
  border-bottom: none;
}
.dg-container--has-input .dg-form {
  border: 1px solid #E1E6EA;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dg-container--has-input .dg-content-footer {
  background-color: ghostwhite;
  border: 1px solid #E1E6EA;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 10px 10px;
}
.dg-container .dg-highlight-1 {
  color: #FF8C00;
  font-weight: bold;
  border-bottom: 1px solid #2ba5ff;
}
.dg-container .dg-highlight-2 {
  color: #2ba5ff;
  font-weight: bold;
  border-bottom: 1px solid #FF8C00;
}


button[data-v-7362758c] {
  width: 100%;
  margin-bottom: 10px;
  float: none;
}

/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #292929;
}
hr {
  border: none;
  height: 1px;
  background-color: #dbdbdb;
}
a {
  color: #41b883;
  cursor: pointer;
  text-decoration: none;
}
a:not(.button):hover {
    text-decoration: underline;
}
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-flex-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  color: #363636;
  cursor: pointer;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: calc(.375em - 1px) 0.75em;
  text-align: center;
  white-space: nowrap;
}
.button:hover {
    border-color: #a8a8a8;
}
.input-elem {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: #fff;
  color: #363636;
  padding: calc(.375em - 1px) 0.75em;
}
.input-elem:focus {
    border-color: #a8a8a8;
}
.centered, .container {
  margin-right: auto !important;
  margin-left: auto !important;
}
.list-unstyled {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
}
.title-case {
  text-transform: capitalize;
}

/* header */
header {
  background-color: #41B883;
  color: #fefefe;
  display: block;
  margin-bottom: 25px;
}
header .lang-btn {
    margin: 5px 12px;
    color: #fefefe;
    text-decoration: none;
}
header .lang-btn:hover {
      text-decoration: underline;
}
header .header-cont {
    width: 94%;
    max-width: 1200px;
    padding: 115px 10px;
    display: block;
}
header .title {
    font-size: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}
header .description {
    font-size: 1.5rem;
    margin: 10px auto;
}
aside {
  width: 320px;
  float: left;
}
aside .nav {
    display: block;
}
aside .nav > li {
      margin-bottom: 5px;
      display: block;
}
aside .nav > li:last-child {
        margin-bottom: unset;
}
main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}
footer {
  width: 100%;
  float: left;
  clear: both;
}
footer p {
    text-align: center;
}
.red {
  color: red;
}
.green {
  color: green;
}
.white {
  color: white;
}
.bg-white {
  background: white;
}
.bg-black {
  background: black;
}
.vue-notification {
  padding: 10px;
  margin: 15px;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
}

/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #292929; }

hr {
  border: none;
  height: 1px;
  background-color: #dbdbdb; }

a {
  color: #41b883;
  cursor: pointer;
  text-decoration: none; }
  a:not(.button):hover {
    text-decoration: underline; }

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-flex-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  color: #363636;
  cursor: pointer;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: calc(.375em - 1px) 0.75em;
  text-align: center;
  white-space: nowrap; }
  .button:hover {
    border-color: #a8a8a8; }

.input-elem {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: #fff;
  color: #363636;
  padding: calc(.375em - 1px) 0.75em; }
  .input-elem:focus {
    border-color: #a8a8a8; }

.centered, .container {
  margin-right: auto !important;
  margin-left: auto !important; }

.list-unstyled {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1200px; }

.title-case {
  text-transform: capitalize; }

/* header */
header {
  background-color: #41B883;
  color: #fefefe;
  display: block;
  margin-bottom: 25px; }
  header .lang-btn {
    margin: 5px 12px;
    color: #fefefe;
    text-decoration: none; }
    header .lang-btn:hover {
      text-decoration: underline; }
  header .header-cont {
    width: 94%;
    max-width: 1200px;
    padding: 115px 10px;
    display: block; }
  header .title {
    font-size: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 10px; }
  header .description {
    font-size: 1.5rem;
    margin: 10px auto; }

aside {
  width: 320px;
  float: left; }
  aside .nav {
    display: block; }
    aside .nav > li {
      margin-bottom: 5px;
      display: block; }
      aside .nav > li:last-child {
        margin-bottom: unset; }

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px; }

footer {
  width: 100%;
  float: left;
  clear: both; }
  footer p {
    text-align: center; }

.red {
  color: red; }

.green {
  color: green; }

.white {
  color: white; }

.bg-white {
  background: white; }

.bg-black {
  background: black; }

